html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f8f9fa;
}

#sidebarMenu {
    background-color: #fff;
    height: 100vh;
}

    #sidebarMenu .nav-link {
        color: #6c757d;
    }

    #sidebarMenu .nav-item.active {
        background-color: #f8f9fa;
    }

    #sidebarMenu .nav-link.active {
        color: #FF2222;
        font-weight: bold;
    }

    #sidebarMenu .nav-item.active .nav-link {
        color: #FF2222;
        font-weight: bold;
    }

.navbar-brand {
    color: #FF2222;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.brand-name {
    font-size: 24px;
    color: #FF2222;
    font-weight: bold;
}

.navbar {
    background-color: #fff;
}

.dropdown-toggle::after {
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

main {
    padding: 20px;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.w-5.h-5 {
    width: 24px;
    height: 24px;
}